/*
	Display Property - change the display of the element

	Inline - consuming the width of the content
		img, span
	Block - consuming the full width of the page, thus creating line space for the next element
		div, text-blocks such as h1-h6, p
	Inline-block - works as inline element for the siblings but block elements outside its parent element. As long as the sibling elements are inline/inline-block, the inline-block elements will appear next to thest elements.
	none - hiding the element from the website and it will not be shown visually; if the element is visually removed, other elements will adjust position.

*/


#div-1{
	background-color: green;

}

#span-1{
	background-color: purple;
	display: inline-block;
}

#span-2{
	background-color: skyblue;
	display: inline-block;
}

#div-2{
	background-color: palegreen;
	display: inline-block;	

}

#img{
	width: 250px;
	height: 250px;
	display: inline-block;
	/*opacity: 0.2;*/
}

/*#img:hover {
  opacity: 1.0;
}*/


#p-1{
	background-color: #87cefa;
}

#p-2{
	background-color: rgb(255, 105, 180);
	width: 60%;
}

#p-3{
	background-color: yellow;
	width: 40%;
}

#span-sample{
	width: 60%;
	background-color: green;
}

.sample{
	display: inline-block;
	width: 30%;
	border: 1px solid black;
}

.img-float{
	width: 250px;
	height: 250px;
	float: left;
}

.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 50%;
}

.one-hundred-pixels{
	width: 100px;
}

.parent{
	width: 135px;
	border: 2px solid navy;
	font-size: 30px;
}

.fifty-vw{
	width: 50vw;
}

.twenty-five-vh{
	height: 25vh;
}

.one-rem{
	font-size: 1rem;
}

.one-em{
	font-size: 1em;
}

.two-rem{
	font-size: 2rem;
}

.two-em{
	font-size: 2em;
}

/*
	rem - root element measurement; measurement is relative to the root element which is the html
		default - 16x

	em - element measurement; measurement is relative to its parent element

*/

.two-hundred-percent{
	font-size: 200%;
}



/* BACKGROUND PROPERTIES */
/*
	Mini Activity

	Use the background class and refactor its element to have minimum height of 100vh and background-color of gray

	send output in google chat
*/

.background{
	min-height: 100vh;
/*	background-color: gray;
*/	/*background image is outsourced in the internet through the use of url() value*/
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	/*
		background-repeat - determines if the image should repeat if it does not fit the container.
	*/

	background-repeat: no-repeat;
	/*
		background-size - size of the background image
		background-position - specifies the image position relative to the html element
			value of this property requires two position (x, y - axis)
	*/
	background-size: 100%;
	background-position: center top;
	/*
		background-attachment - used to set whether a background image scrolls with the rest of the page or fixed
	*/
	background-attachment: scroll;

}

.title{
	color: whitesmoke;
	text-align: center;
	font-size: 5rem;
	margin: 0;
	0ight: 35rem;
}

.container-bg{
	background-color: rgba(0, 0, 0, .5);
	min-height: 100vh;

}

/* CSS POSITIONING 

	Positions in CSS
		static - default position for every element; follows the normal flow of the elements

		relative - although it is still following the normal flow of the elements, it is affected by the directions (left, bottom, top, right) measurements

		absolute - positioned relative to its parent elements, the element is removed from the normal document flow. the other elements will behave as if the element is not in the document. No space is created for the element
			-the element is positioned relative to its closest positioned ancestor. that means that the element has to have a position value other than position static;

		fixed - similar to absolute in terms of being removed from the normal flow, it is not affected by any parent element and instead it is based on the element itself.

		sticky - combination of relative and fixed, it acts like a relative positioned element until a 

*/

.parent-element{
	background-color: skyblue;
	padding: 10px;
	/*position: relative; - required for the element with absolute position*/
	position: relative;
	height: 800vh;
}

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two{
	background-color: yellow;
	padding: 10px;
	/*border-radius: 20px;*/
	/*position: relative; normal flow, is affected by left, right, top, and bottom measurements*/
	/*position: absolute; not in the normal flow, is affected by the parent/ancestor elements position*/
	/*position: static; normal flow, is NOT affected by left, right, top, and bottom measurements*/
	/*position: fixed; not in the normal flow, it is relative to the position of the element itself*/
	position: sticky;
/*left: 10px;
	bottom: 10px;*/
	top: 10px;

}

.child-three{
	background-color: gray;
	padding: 10px;
}

/*html{
	height: 800vh;
}*/


/* Z-index - stacking of elements */

.container{
	position: relative;
}

.black-box{
	position: relative;
	z-index: 1;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
}

.gray-box{
	position: absolute;
	z-index: 3;
	background: lightgray;
	height: 60px;
	width: 70%;
	left: 50px;
	top: 50px;
}

.green-box{
	position: absolute;
	z-index: 2;
	height: 200px;
	background: lightgreen;
	width: 35%;
	left: 270px;
	top: -15px;
}