*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: "Open Sans", sans-serif;
}

/*nav{	
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid blue;
	background-color: white;
	width: 100%;
	position: fixed;
	z-index: 10;
}
*/
nav{
    background-color: white;
    padding: 0.5rem 0.8rem;
    /margin-bottom: 1rem;/
    border-bottom: 1px solid #e9e9e9;
    list-style-type: none;
    position: sticky;
    top: 0;
    z-index: 3;
}

nav .nav, nav .nav-logo{	
	margin: .2rem;
	display: inline;
	text-align: right;
	vertical-align: top;
	
}

.nav, .right-nav, .nav li{
	list-style-type: none;
	margin-right: 5%;
	/*line-height: .5rem;*/
	padding: .5rem .75rem;
	font-size: 1rem;
	font-weight: 600;
	min-width: 300px;
	text-align: right;
	margin-bottom: .5rem;
	
}
#logo{
	float: left;
	margin-top: 1rem;
	margin-left: 2%;
	vertical-align: top;

}

.tuitt-button{
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 12px;
	color: whitesmoke;
	padding: .5rem .75rem;
	vertical-align: top;
	line-height: .5rem;
	position: relative;
}



#bg-image{
	min-height: 100vh;
	background-image: url("https://gitlab.com/giolimcaoco/g08/-/raw/master/Activity/img/zuitt.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	z-index: 1;

	
}

.front-bg{
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: relative;
	z-index: 2;
	
}

.container{
	min-height: 90vh;
	border-bottom: 0;
	position: relative;
	display: inline-block;
	text-align: right;
	width: 96%%;
	max-width: 100%;
}

.title{
	font-family: "Zilla Slab", serif;
	color: whitesmoke;
	padding-top: 15%;
	width: 90%;
	font-size: 2.5rem;
	margin-right: auto;
	padding-left: 50%;
	
	

}

.subtitle{
	font-size: 1.5rem;
	color: whitesmoke;
	width: 90% !important;
	text-align: right;
	font-weight: 200;
	margin-right: 10%;
	padding-left: 50%;
	
}

.title-2{
	font-family: "Zilla Slab", serif !important;
	font-size: 2.5rem;
	font-weight: 600;
}

.apply-button{
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 12px;
	color: whitesmoke;
	padding: .5rem 4.5rem;
	vertical-align: top;
	text-align: right;
	margin-right: 10%;

	
}

.pre-footer{
	background-color: #f7fbfb;
	text-align: center;
	min-height: 50vh;

}

.book-button{
	background-color: #336589;
	text-align: center;
	font-weight: bold;
	border-radius: 25px;
	font-size: 12px;
	color: whitesmoke;
	padding: .5rem 2rem;


	
}





footer{
	padding: .7rem;
	text-align: center;

}

footer span{
	margin-bottom: 0 .5rem;
}
